# Plantilla para Check-In Agencia de Viajes
SECRET_KEY=
DATABASE_URL=
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=
ADMIN_EMAIL_1=
ADMIN_EMAIL_2=
MAX_ADMINS=2
SESSION_TIMEOUT_MINUTES=30
RATE_LIMIT_LOGIN=5 per 15 minutes
EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=
MAPBOX_ACCESS_TOKEN=
